@font-face {
	font-family: 'Inconsolata';
	src: url('static/Inconsolata-VariableFont_wdth,wght.ttf');
}

@keyframes gigashake {
	0% {
		transform: translate(0, 0);
	}
	20% {
		transform: translate(-2px, 1px);
	}
	40% {
		transform: translate(4px, 0);
	}
	60% {
		transform: translate(-2px, 7px);
	}
	80% {
		transform: translate(6px, -3px);
	}
}

@keyframes shake {
	0% {
		transform: translate(0, 0);
	}
	20% {
		transform: translate(-1px, 0);
	}
	40% {
		transform: translate(2px, 1px);
	}
	60% {
		transform: translate(-1px, 4px);
	}
	80% {
		transform: translate(4px, -2px);
	}
}

#game_table {
	cursor: default;
}

.game {
	display: inline-block;
	cursor: pointer;
}

.active {
	display: inline-block;
	animation: shake 0.3s infinite;
}

.hyperactive {
	display: inline-block;
	animation: gigashake 0.1s infinite;
}

body {
	overflow: hidden;
	background-color: black;
	background-image: radial-gradient(ellipse at 50% 80%,
		rgba(0, 120, 170, 0.75), black 120%
	
	);
	height: 100vh;
	color: white;
	font: 1.3rem Inconsolata, monospace;
	text-shadow: 0 0 3px #C8C8C8;
	margin: 0;
	background-attachment: fixed;
}

body::after {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: repeating-linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.15),
		rgba(0, 0, 0, 0.15) 2px,
		transparent 2px,
		transparent 4px
	);
	pointer-events: none;
}

.online {
	color: #50d0c0;
}

.empty {
	color: #b0d050;
}

.offline {
	color: #d08050;
  	text-shadow: 20 20 5px #C80000;
}

#credits {
	opacity: 20%;
}

#status {
	border-top: #ffffff 2px solid;
	border-right: #ffffff 2px solid;
	padding: 2rem;
	position: fixed;
	bottom: 0px;
}

#status table {
	table-layout: fixed;
	width: 100%;
}

#status img {
	margin-left: 10px;
	margin-top: auto;
	margin-bottom: auto;
}

#status .right {
	display: inline-block;
	vertical-align: top;
}

#status .right tr td:nth-child(2) {
	text-align: right;
	padding-left: 2em;
	width: 100%;
}

a {
	color: #a8cdff;
}

#badges {
	position: fixed;
	bottom: 5px;
	right: 5px;
	padding-right: 10px;
	user-select: none;
}

#badges img {
	margin-right: 1px;
}
